{% extends "register/base.html" %}
{% block title %}拾得者選択{% endblock %}
{% block content %}
<h2>拾得者選択</h2>
<p>拾得者を選択してください。</p>

<section>
    <form action="{{ url_for('register.choices_finder') }}" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-4">{{ form.use_AI.label }}  {{ form.use_AI }}</div>
        </div>
        <div class="row">
            {% for subfield in form.choice_finder %}
            <div class="col-3">{{ subfield }} {{ subfield.label }}</div>
            {% endfor %}
        </div>
        <p>
            {{ form.submit(id="submit_button", class="btn btn-primary", style="margin-left: 15%;") }}
        </p>
    </form>
    <div id="loadingMessage" style="display: none;">AIが解析中です。しばらくお待ちください...</div>
</section>
<script>
    document.getElementById('submit_button').addEventListener('click', function() {
        // ローディングメッセージを表示
        document.getElementById('loadingMessage').style.display = 'block';
    });
</script>
{% endblock %}