{% extends "register/base.html" %}
{% block title %}拾得者選択{% endblock %}
{% block content %}
<h2>拾得者選択</h2>
<p>拾得者を選択してください。</p>

<section>
    <form action="{{ url_for('register.choices_finder') }}" method="post">
        {{ form.csrf_token }}
        <div class="row">
            {% for subfield in form.choice_finder %}
            <div class="col-3">{{ subfield }} {{ subfield.label }}</div>
            {% endfor %}
        </div>
        <p>
            {{ form.submit(class="btn btn-primary", style="margin-left: 15%;") }}
        </p>
    </form>
</section>
{% endblock %}