{% extends "register/base.html" %}
{% block title %}拾得物管理アプリトップ{% endblock %}

{% block content %}
<div class="text-center">
    {% if current_user.is_authenticated %}
    <p>ようこそ。現在<strong>{{ current_user.username }}</strong>さんがログインしています。</p>

    <!-- 各種業務内容へ飛ぶメニュー -->
    <div class="card-deck">
        <div class="dt-main">
            <div class="card dt-card">
                <header>拾得物管理</header>
                <section>
                    <a href="{{ url_for('register.photo') }}" class="btn btn-md btn-light btn-block">拾得物登録</a>
                    <a href="{{ url_for('items.index') }}" class="btn btn-md btn-light btn-block">拾得物一覧</a>
                    <a href="{{ url_for('disposal.dis_list') }}" class="btn btn-md btn-light btn-block">保管物件情報一覧</a>
                </section>
            </div>
        </div>
        <div class="dt-main">
            <div class="card dt-card">
                <header>警察届出処理</header>
                <section>
                    <a href="{{ url_for('police.item') }}" class="btn btn-md btn-light btn-block">届出対象情報一覧</a>
                </section>
            </div>
        </div>
        <div class="dt-main">
            <div class="card dt-card">
                <header>還付管理</header>
                <section>
                    <a href="{{ url_for('refund.register_num') }}" class="btn btn-md btn-light btn-block">届出受理番号登録</a>
                    <a href="{{ url_for('refund.refund_item') }}" class="btn btn-md btn-light btn-block">還付</a>
                    <a href="{{ url_for('refund.refund_list') }}" class="btn btn-md btn-light btn-block">還付請求一覧印刷</a>
                    <a href="{{ url_for('refund.refunded') }}" class="btn btn-md btn-light btn-block">還付済物件処理</a>
                </section>
            </div>
        </div>
        <div class="dt-main">
            <div class="card dt-card">
                <header>遺失物管理</header>
                <section>
                    <a href="{{ url_for('notfound.notfound_register') }}"
                        class="btn btn-md btn-light btn-block">遺失物情報登録</a>
                    <a href="{{ url_for('notfound.notfound_search') }}"
                        class="btn btn-md btn-light btn-block">遺失物情報一覧</a>
                </section>
            </div>
        </div>
    </div>
    {% else %}
    <p>拾得物の管理を行うアプリです。下記のボタンからログインしてください。</p>
    <a class="btn btn-primary mx-auto" href="{{ url_for('auth.login') }}">ログイン</a>
    {% endif %}
</div>
{% endblock %}