{% extends "register/base.html" %}
{% block title %}遺失物登録{% endblock %}
{% block content %}
<h2>遺失物情報登録</h2>
<form action="{{ url_for('notfound.notfound_register') }}" method="post">
    {{ form.csrf_token }}
    <div class="container">
        <div class="row mb-3">
            <div class="col-4">{{ form.lost_item.label }} {{ form.lost_item(class="form-set") }}</div>
            <div class="col-4">{{ form.lost_item_hour.label }}
                <select id="hours" name="get_item_hours" class="form-set">
                    <!-- 時間の選択肢を0から23まで -->
                    {% for i in range(24) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select> : 
                <select id="minutes" name="get_item_minutes" class="form-set">
                    <!-- 分の選択肢を0から59まで -->
                    {% for i in range(60) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">{{ form.recep_item.label }} {{ form.recep_item(class="form-set") }}</div>
            <div class="col-3">{{ form.recep_item_hour.label }}
                <select id="recep_hours" name="recep_item_hours" class="form-set">
                    <!-- 時間の選択肢を0から23まで -->
                    {% for i in range(24) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select> : 
                <select id="recep_minutes" name="recep_item_minutes" class="form-set">
                    <!-- 分の選択肢を0から59まで -->
                    {% for i in range(60) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">{{ form.recep_manager.label }} {{ form.recep_manager(class="form-set") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                物件分類（大）
                <select name="item_class_L" id="item_class_L" class="form-set">
                    <option value="選択してください">選択してください</option>
                    {% for option in ITEM_CLASS_L %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                （中）
                <select name="item_class_M" id="item_class_M" class="form-set">
                    <option value="選択してください">選択してください</option>
                    {% for option in ITEM_CLASS_M %}
                    <option value="{{ option['value'] }}" data-val="{{ option['data-val'] }}">{{ option['value'] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                （小）
                <select name="item_class_S" id="item_class_S" class="form-set">
                    <option value="選択してください">選択してください</option>
                    {% for option in ITEM_CLASS_S %}
                    <option value="{{ option['value'] }}" data-val="{{ option['data-val'] }}">{{ option['value'] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.lost_area.label }} {{ form.lost_area(class="form-set") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.lost_name.label }} {{ form.lost_name(class="form-set") }}</div>
            <div class="col-4">{{ form.lost_age.label }} {{ form.lost_age(class="form-set") }}</div>
        </div>
        <div class="row mb-5">
            <div class="col-4">{{ form.lost_post.label }} {{ form.lost_post(class="form-set") }}</div>
            <div class="col-8">{{ form.lost_address.label }} {{ form.lost_address(style="width: 500px;",
                class="form-set") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <div class="row">
                    {{ form.lost_sex.label }}
                    {% for subfield in form.lost_sex %}
                    <div class="col-3">{{ subfield }} {{ subfield.label }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-4">{{ form.lost_tel1.label }} {{ form.lost_tel1(class="form-set") }}</div>
            <div class="col-4">{{ form.lost_tel2.label }} {{ form.lost_tel2(class="form-set") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.item_value.label }} {{ form.item_value(class="form-set") }}</div>
            <div class="col-4">{{ form.item_color.label }} {{ form.item_color(class="form-set") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.item_expiration.label }} {{ form.item_expiration(class="form-set") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.item_maker.label }} {{ form.item_maker(class="form-set") }}</div>
            <div class="col-4">{{ form.item_num.label }} {{ form.item_num(class="form-set") }}</div>
            <div class="col-4">{{ form.item_unit.label }} {{ form.item_unit(class="form-set") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.item_plice.label }} {{ form.item_plice(class="form-set") }}</div>
            <div class="col-4">{{ form.item_money.label }} {{ form.item_money(class="form-set") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-6">{{ form.item_remarks.label }} <br>{{ form.item_remarks(class="form-set", style="width:
                70%;") }}</div>
            <div class="col-6">{{ form.item_feature.label }} <br>{{ form.item_feature(class="form-set", style="width:
                70%px;") }}</div>
        </div>
        <p>
            <hr>
            遺失物がカードであれば、以下の項目を入力してください。<br>
            同梱物として登録する場合は、同梱物の詳細画面からカード情報を入力してください。
        </p>
        <div class="row mb-5">
            <div class="col-3">{{ form.card_campany.label }} {{ form.card_campany(class="form-set") }}</div>
            <div class="col-3">{{ form.card_tel.label }} {{ form.card_tel(class="form-set") }}</div>
            <div class="col-3">{{ form.card_name.label }} {{ form.card_name(class="form-set") }}</div>
            <div class="col-3">{{ form.card_person.label }} {{ form.card_person(class="form-set") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-3">{{ form.card_item.label }} {{ form.card_item(class="form-set") }}</div>
            <div class="col-3">{{ form.card_return.label }} {{ form.card_return(class="form-set") }}</div>
            <div class="col-3">{{ form.card_item_hour.label }} {{ form.card_item_hour(class="form-set") }}{{
                form.card_item_minute(class="form-set") }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">{{ form.card_manager.label }} {{ form.card_manager(class="form-set") }}</div>
        </div>
        <div class="text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/settime.js') }}"></script>
{% endblock %}