body {
    background-color: #f5f5f5;
}

h4 {
    margin-top: 20px;
}

input[type="search"] {
    background-color: #f5f5f5;
}

.lostitem-app-main {
    width: 400px;
    margin-top: 45px;
}

.lostitem-app-main .card {
    box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04), 0 6px 22px 4px rgba(7, 48, 114, 0.12),
        0 6px 10px -4px rgba(14, 13, 26, 0.12) !important;
    border-radius: 16px;
}

.lostitem-app-main .lostitem-app-login {
    height: 300px !important;
}

.lostitem-app-main .lostitem-app-signup {
    height: 340px !important;
}

.lostitem-app-main header {
    text-align: center;
    margin: 30px 0 0 0;
    font-size: 24px;
}

.lostitem-app-main section {
    width: 300px;
    margin: 10px auto;
}

.lostitem-app-flash {
    font-size: 14px;
    color: #9c1a1c;
}

.lostitem-app-input {
    margin-top: 10px;
}

.lostitem-app-btn {
    margin: 30px 0 0 0;
}

.lostitem-app-search {
    height: 28px !important;
}

.lostitem-app-image {
    margin: 20px auto;
    padding: 0;
}

.lostitem-app-username {
    padding-top: 15px;
}

.lostitem-app-register-btn {
    padding: 10px 47px 0 0;
}

.lostitem-app-image header {
    padding: 10px 10px 0 10px;
}

.lostitem-app-image section {
    padding: 10px 0;
    margin: auto;
}

.lostitem-app-image footer {
    padding: 10px;
}

.lostitem-app-image section img {
    width: 100%;
}


u {
    color: dimgray;
    width: max-content;
}

.col-3 {
    height: 40px;
}

.text-center {
    margin-top: 10px;
    /* 上部のマージンを追加 */
}

/* メインページ */
.lostitem-main {
    width: 380px;
    margin-top: 10px;
}

.lostitem-main .card {
    box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04), 0 6px 22px 4px rgba(7, 48, 114, 0.12),
        0 6px 10px -4px rgba(14, 13, 26, 0.12) !important;
    border-radius: 16px;
}

.photo {
    box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04), 0 6px 22px 4px rgba(7, 48, 114, 0.12),
        0 6px 10px -4px rgba(14, 13, 26, 0.12) !important;
    border-radius: 4px;
}

.lostitem-main .lostitem-login {
    height: 300px !important;
}

.lostitem-main .lostitem-card {
    height: 250px !important;
}

.lostitem-main header {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 20px;
}

.lostitem-main section {
    width: 300px;
    margin: 10px auto;
}

/* フォーム関連 */
.form-set {
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

/* 必須項目の文字の色 */
.color-text {
    color: red;
}