{% extends "register/base.html" %}
{% block title %}拾得物詳細画面{% endblock %}
{% block content %}
<h2>拾得物詳細画面</h2>
<div class="container">
    <div class="text-center">
        <img src="{{ url_for('items.image_file', item_id=item.id) }}" alt="拾得物の画像" width="25%" height="auto"
            class="photo mb-3">
    </div>
    <div class="row">
        <div class="col-3">管理番号 <u>{{ item.main_id }}</u></div>
        <div class="col-3">通知 <u>{{ item.notify }}</u></div>
        <div class="col-3">拾得日時 <u>{{ item.get_item.strftime('%Y/%m/%d') if item.get_item is not none else "" }}
                {{ item.get_item_hour }}時{{ item.get_item_minute }}分</u></div>
        <div class="col-3">受付日時 <u>{{ item.recep_item.strftime('%Y/%m/%d') if item.recep_item is not none else ""}}
                {{ item.recep_item_hour }}時{{ item.recep_item_minute }}分</u></div>
    </div>
    <div class="row">
        <div class="col-3">受付者 <u>{{ item.recep_manager }}</u></div>
        <div class="col-3">拾得場所 <u>{{ item.find_area }}</u></div>
        <div class="col-3">警察届出用拾得場所 <u>{{ item.find_area_police }}</u></div>
        <div class="col-3">占有者権利放棄 <u>{{ item.own_waiver }}</u></div>
    </div>
    <div class="row">
        <div class="col-3">拾得者氏名 <u>{{ item.finder_name }}</u></div>
        <div class="col-3">占有者氏名等告知 <u>{{ item.own_name_note }}</u></div>
        <div class="col-3">年齢 <u>{{ item.finder_age }}</u></div>
        <div class="col-3">性別 <u>{{ item.finder_sex }}</u></div>
    </div>
    <div class="row">
        {% if item.choice_finder=="占有者拾得" %}
        <!-- <div class="col-3">拾得者属性 <u>{{ item.finder_class }}</u></div> -->
        <div class="col-3">拾得者所属 <u>{{ item.finder_affiliation }}</u></div>
        {% else %}
        <div class="col-3">権利放棄 <u>{{ item.thirdparty_waiver }}</u></div>
        <div class="col-3">氏名等告知 <u>{{ item.thirdparty_name_note }}</u></div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-4">物件分類（大） <u>{{ item.item_class_L }}</u></div>
        <div class="col-4">物件分類（中） <u>{{ item.item_class_M }}</u></div>
        <div class="col-4">物件分類（小） <u>{{ item.item_class_S }}</u></div>
    </div>
    <div class="row">
        <div class="col-4">郵便番号 <u>{{ item.finder_post }}</u></div>
        <div class="col-8">住所 <u>{{ item.finder_address }}</u></div>
    </div>
    <div class="row">
        <div class="col-4">連絡先1 <u>{{ item.finder_tel1 }}</u></div>
        <div class="col-4">連絡先2 <u>{{ item.finder_tel2 }}</u></div>
        <div class="col-4">貴重な物品に該当 <u>{{ item.item_value }}</u></div>
    </div>
    <div class="row">
        <div class="col-3">物品の特徴 <u>{{ item.item_feature }}</u></div>
        <div class="col-3">色 <u>{{ item.item_color }}</u></div>
        <div class="col-3">保管施設 <u>{{ item.item_storage }}</u></div>
        <div class="col-3">保管場所 <u>{{ item.item_storage_place }}</u></div>
    </div>
    <div class="row">
        <div class="col-3">メーカー <u>{{ item.item_maker }}</u></div>
        {% if item.item_expiration!=None %}
        <div class="col-3">消費期限 <u>{{ item.item_expiration.strftime('%Y/%m/%d') if item.item_expiration is not none else
                ""}}</u></div>
        {% endif %}
        <div class="col-3">数量 <u>{{ item.item_num }}</u></div>
        <div class="col-3">単位 <u>{{ item.item_unit }}</u></div>
    </div>
    <div class="row mb-3">
        <div class="col-3">値段 <u>{{ item.item_plice }}</u></div>
        <div class="col-3">金額 <u>{{ item.item_money }}</u></div>
        <div class="col-3">備考 <u>{{ item.item_remarks }}</u></div>
        <div class="col-3">届出済 <u>{{ item.item_situation }}</u></div>
    </div>
    {% if item.item_class_L=="証明書類・カード類" %}
    <div class="row mb-5">
        <div class="col-3">カード発行会社名<br> <u>{{ item.card_campany }}</u></div>
        <div class="col-3">カード発行会社連絡先<br> <u>{{ item.card_tel }}</u></div>
        <div class="col-3">カード名<br> <u>{{ item.card_name }}</u></div>
        <div class="col-3">カード記載人名<br> <u>{{ item.card_person }}</u></div>
    </div>
    <div class="row mb-3">
        <div class="col-3">連絡日 <u>{{ item.card_item.strftime('%Y/%m/%d') if item.card_item is not none else "" }}</u>
        </div>
        <div class="col-3">返還日 <u>{{ item.card_return.strftime('%Y/%m/%d') if item.card_return is not none else ""
                }}</u>
        </div>
        <div class="col-3">連絡時間 <u>{{ item.card_item_hour }}</u></div>
        <div class="col-3">連絡時間(分) <u>{{ item.card_item_minute }}</u></div>
    </div>
    <div class="row mb-3">
        <div class="col-3">連絡者 <u>{{ item.card_manager }}</u></div>
    </div>
    {% endif %}
    <h2>同梱物</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>管理番号</th>
                <th>拾得物分類</th>
                <th>特徴</th>
                <th>色</th>
            </tr>
        </thead>
        <tbody>
            {% for item in bundleditem %}
            <tr>
                <td>
                    {{ item.id }}
                </td>
                <td>{{ item.item_class_L }} {{ item.item_class_M }} {{ item.item_class_S }}</td>
                <td>{{ item.item_feature }}</td>
                <td>{{ item.item_color }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if denomination %}
    <h2>金種</h2>
    {% for denomination in denomination %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>一万円</th>
                <th>五千円</th>
                <th>二千円</th>
                <th>千円</th>
                <th>五百円</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ denomination.ten_thousand_yen }}</td>
                <td>{{ denomination.five_thousand_yen }}</td>
                <td>{{ denomination.two_thousand_yen }}</td>
                <td>{{ denomination.one_thousand_yen }}</td>
                <td>{{ denomination.five_hundred_yen }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>百円</th>
                <th>五十円</th>
                <th>十円</th>
                <th>五円</th>
                <th>一円</th>
                <th>合計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ denomination.one_hundred_yen }}</td>
                <td>{{ denomination.fifty_yen }}</td>
                <td>{{ denomination.ten_yen }}</td>
                <td>{{ denomination.five_yen }}</td>
                <td>{{ denomination.one_yen }}</td>
                <td>{{ denomination.total_yen }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>記念硬貨名</th>
                <th>金額</th>
                <th>記念硬貨名</th>
                <th>金額</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ denomination.commemorative_coin_1 }}</td>
                <td>{{ denomination.commemorative_coin_1_value }}</td>
                <td>{{ denomination.commemorative_coin_2 }}</td>
                <td>{{ denomination.commemorative_coin_2_value }}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif %}
</div>
<div class="text-center">
    {% if denomination %}
    <a class="btn btn-primary" href="{{url_for('bundleditems.money_edit', item_id=item.id)}}" role="button">金種編集/削除</a>
    {% else %}
    <a class="btn btn-primary" href="{{ url_for('bundleditems.money_register', item_id=item.id) }}"
        role="button">金種登録</a>
    {% endif %}
    <a class="btn btn-primary" href="{{ url_for('bundleditems.card', item_id=item.id) }}">カード会社連絡</a>
    <a class="btn btn-primary" href="{{ url_for('bundleditems.register', item_id=item.id) }}" role="button">同梱物登録</a>
    <a class="btn btn-primary" href="{{ url_for('return_item.item', item_id=item.id) }}" role="button">遺失者連絡/返還</a>
</div>
<div class="text-center">
    <a class="btn btn-primary" href="{{ url_for('items.edit_select', item_id=item.id) }}" role="button">編集/削除</a>
    <a class="btn btn-secondary" href="{{ url_for('items.index') }}" role="button">戻る</a>
</div>
{% endblock %}