{% extends "register/base.html" %}
{% block title %}検索結果{% endblock %}
{% block content %}
<div class="text-center">
    <a href="{{ url_for('items.index') }}" class="btn btn-primary">一覧に戻る</a>
</div>
<div class="d-flex align-items-center">
    <h2 class="mr-3">検索結果</h2>
    <a href="{{ url_for('items.item_search_photo') }}" class="btn btn-secondary">写真の検索結果へ</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>管理番号(詳細)</th>
            <th>拾得日時</th>
            <th>拾得場所</th>
            <th>拾得物名/特徴</th>
            <th>色</th>
            <th>保管施設/場所</th>
            <th>状況</th>
        </tr>
    </thead>
    <tbody>
        {% for item in search_results %}
        <tr>
            <td>
                <a href="{{ url_for('items.detail', item_id=item.id) }}">{{ item.id }}</a>
            </td>
            <td>{{ item.get_item.strftime('%Y/%m/%d') if item.get_item is not none else "" }} {{ item.get_item_hour }}{{
                item.get_item_minute }}</td>
            <td>{{ item.find_area }}</td>
            <td>{{ item.item_class_S }}
                <br>{{ item.item_feature }}
            </td>
            <td>{{ item.item_color }}</td>
            <td>{{ item.item_storage }}/{{ item.item_storage_place }}</td>
            <td>{{ item.item_situation }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}