{% extends "register/base.html" %}
{% block title %}検索結果{% endblock %}
{% block content %}
<div class="text-center">
    <a href="{{ url_for('items.index') }}" class="btn btn-primary">一覧に戻る</a>
</div>
<div class="d-flex align-items-center">
    <h2 class="mr-3">検索結果</h2>
    <a href="{{ url_for('items.item_search') }}" class="btn btn-secondary">検索結果一覧へ</a>
</div>
<table class=" table table-bordered table-striped">
    <table class="table table-bordered table-striped">
        <tbody>
            {% for i in range(0, search_results|length, 5) %}
            <tr>
                {% for lostitem in search_results[i:i+5] %}
                <td>
                    <a href="{{ url_for('items.detail', item_id=lostitem.id) }}"><img
                            src="{{ url_for('items.image_file', item_id=lostitem.id) }}" alt="Photo"
                            style="width:100px;height:100px;"></a>
                    <!-- 画像の大きさは適切に調節してください -->
                    <p>{{ lostitem.get_item.strftime('%Y/%m/%d') if lostitem.get_item is not none else "" }}</p>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</table>
{% endblock %}