{% extends "register/base.html" %}
{% block title %}作成書類選択{% endblock %}
{% block content %}
<h2>作成書類選択</h2>
<form action="{{ url_for('police.choice_document') }}" , method="post">
    {{ form.csrf_token }}
    <div class="container text-center">
        <div class="row mb-3">
            <div class="col-4">{{ form.submit_date.label }} {{ form.submit_date }}</div>
            <div class="col-4">{{ form.document.label }} {{ form.document }}</div>
        </div>
        <div class="text-center">
            {{ form.submit(class="btn btn-primary") }}
            <a class="btn btn-secondary" href="{{ url_for('police.item') }}" role="button">戻る</a>
        </div>
    </div>
</form>
{% endblock %}