{% extends "register/base.html" %}
{% block title %}検索結果{% endblock %}
{% block content %}
<div class="text-center">
    <a href="{{ url_for('police.item') }}" class="btn btn-primary">一覧に戻る</a>
</div>
<div class="d-flex align-items-center">
    <h2 class="mr-3">検索結果</h2>
</div>
<form action="{{ url_for('police.item_search') }}" , method="post">
    {{ form.csrf_token }}
    <table class=" table table-bordered table-striped">
        <thead>
            <tr>
                <th>管理番号(詳細)</th>
                <th>拾得日時</th>
                <th>拾得場所</th>
                <th>拾得物名/特徴</th>
                <th>色</th>
                <th>保管施設/場所</th>
                <th>状況</th>
                <th>選択</th>
            </tr>
        </thead>
        <tbody>
            {% for item in search_results %}
            <tr>
                <td>
                    <a href="{{ url_for('items.detail', item_id=item.id) }}">{{ item.id }}</a>
                </td>
                <td>{{ item.get_item.strftime('%Y/%m/%d') }} {{ item.get_item_hour }}{{ item.get_item_minute }}</td>
                <td>{{ item.find_area }}</td>
                <td>{{ item.item_feature }}</td>
                <td>{{ item.item_color }}</td>
                <td>{{ item.item_storage }}/{{ item.item_storage_place }}</td>
                <td>{{ item.item_situation }}</td>
                <td><input type="checkbox" name="item_ids" value="{{ item.id }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}