{% extends "register/base.html" %}
{% block title %}遺失者関連業務{% endblock %}
{% block content %}
<h2>遺失者関連業務</h2>
<p>拾得物の遺失者への連絡業務や、返還業務を行います。</p>
<div class="mb-3">
    <a href="{{ url_for('return_item.note', item_id=lostitem.id) }}" class="btn btn-primary">遺失者連絡</a>
    <a href="{{ url_for('return_item.item', item_id=lostitem.id) }}" class="btn btn-primary">返還</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>管理番号(詳細)</th>
            <th>拾得日時</th>
            <th>拾得場所</th>
            <th>拾得物名/特徴</th>
            <th>色</th>
            <th>保管施設/場所</th>
            <th>状況</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="{{ url_for('items.detail', item_id=lostitem.id) }}">{{ lostitem.id }}</a>
            </td>
            <td>{{ lostitem.get_item.strftime('%Y/%m/%d') if lostitem.get_item is not none else "" }} {{
                lostitem.get_item_hour }}{{
                lostitem.get_item_minute }}</td>
            <td>{{ lostitem.find_area }}</td>
            <td>{{ lostitem.item_feature }}</td>
            <td>{{ lostitem.item_color }}</td>
            <td>{{ lostitem.item_storage }}/{{ lostitem.item_storage_place }}</td>
            <td>{{ lostitem.item_situation }}
            </td>
        </tr>
    </tbody>
</table>
<h4>遺失者連絡状況</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>遺失者氏名</th>
            <th>遺失者属性</th>
            <th>遺失者所属</th>
            <th>連絡先1</th>
            <th>連絡先2</th>
            <th>郵便番号</th>
            <th>住所</th>
        </tr>
        <tr>
            <th>連絡日</th>
            <th>連絡手段/相手</th>
            <th>連絡担当者</th>
            <th>返答日</th>
            <th>返還予定日</th>
            <th>返答内容</th>
            <th>備考</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ lostitem.lost_person }}</td>
            <td>{{ lostitem.lost_class }}</td>
            <td>{{ lostitem.lost_affiliation }}</td>
            <td>{{ lostitem.lost_tel1 }}</td>
            <td>{{ lostitem.lost_tel2 }}</td>
            <td>{{ lostitem.lost_post }}</td>
            <td>{{ lostitem.lost_address }}</td>
        </tr>
        <tr>
            <td>{{ lostitem.note_date.strftime('%Y/%m/%d') if lostitem.note_date is not none else "" }}</td>
            <td>{{ lostitem.note_process }}</td>
            <td>{{ lostitem.note_manager }}</td>
            <td>{{ lostitem.response_date.strftime('%Y/%m/%d') if lostitem.response_date is not none else "" }}</td>
            <td>{{ lostitem.response_expect.strftime('%Y/%m/%d') if lostitem.response_expect is not none else "" }}</td>
            <td>{{ lostitem.response_content }}</td>
            <td>{{ lostitem.response_remarks }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}