{% extends "register/base.html" %}
{% block title %}還付検索結果{% endblock %}
{% block content %}
<h2>還付検索結果</h2>
<form action="{{ url_for('refund.refund_item_search') }}" , method="post">
    {{ form.csrf_token }}
    <div class="containrt mb-3">
        <div class="text-center mb-3">
            {{ form.submit(class="btn btn-primary", value="登録") }}
            <a href="{{ url_for('refund.refund_item') }}" class="btn btn-secondary">戻る</a>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.refund_date.label }} {{ form.refund_date }}</div>
            <div class="col-4">{{ form.refund_manager.label }} {{ form.refund_manager }}</div>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>選択</th>
                <th>管理番号<br>受理番号</th>
                <th>還付予定日</th>
                <th>還付日</th>
                <th>警察<br>返還</th>
                <th>拾得日時</th>
                <th>拾得物件名/特徴</th>
                <th>金額</th>
                <th>担当者</th>
            </tr>
        </thead>
        <tbody>
            {% for item in search_results %}
            <tr>
                <td><input type="checkbox" name="item_ids" value="{{ item.id }}"></td>
                <td>
                    <a href="{{ url_for('items.detail', item_id=item.id) }}">{{ item.main_id }}</a>
                    <br>{{ item.receiptnumber }}
                </td>
                <td>{{ item.refund_expect.strftime('%Y/%m/%d') if item.refund_expect is not none else "" }}</td>
                <td>{{ item.refund_date.strftime('%Y/%m/%d') if item.refund_date is not none else "" }}</td>
                <td><input type="checkbox" name="police_item_ids" value="{{ item.id }}"></td>
                <td>{{ item.get_item.strftime('%Y/%m/%d') if item.get_item is not none else "" }}
                    <br>{{ item.get_item_hour }}時{{ item.get_item_minute }}分
                </td>
                <td>{{ item.item_class_S }}
                    <br>{{ item.item_feature }}
                </td>
                <td>{{ item.item_money }}</td>
                <td>{{ item.refund_manager }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}