from pathlib import Path

basedir = Path(__file__).parent.parent


class BaseConfig:
    SECRET_KEY = "シークレットキー"
    WTF_CSRF_SECRET_KEY = "CSRFのシークレットキー"
    UPLOAD_FOLDER = str(Path(basedir, "apps", "images"))
    CARD_IMAGE_FOLDER = str(Path(basedir, "apps", "register", "card_image"))
    LENAMED_FOLDER = str(Path(basedir, "apps", "renamed_images"))


class LocalConfig(BaseConfig):
    SQLALCHEMY_DATABASE_URI = f"sqlite:///{basedir / 'local.sqlite'}"
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    SQLALCHEMY_ECHO = True


class TestingConfig(BaseConfig):
    SQLALCHEMY_DATABASE_URI = f"sqlite:///{basedir / 'local.sqlite'}"
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    WTF_CSRF_ENABLED = False


config = {
    "testing": TestingConfig,
    "local": LocalConfig,
}

CHOICES_FINDER = [
    ("占有者拾得", "占有者拾得"),
    ("第三者拾得", "第三者拾得"),
]

TIMES = [
    ("06時", "06時"),
    ("07時", "07時"),
    ("08時", "08時"),
    ("09時", "09時"),
    ("10時", "10時"),
    ("11時", "11時"),
    ("12時", "12時"),
    ("13時", "13時"),
    ("14時", "14時"),
    ("15時", "15時"),
    ("16時", "16時"),
    ("17時", "17時"),
    ("18時", "18時"),
    ("19時", "19時"),
    ("20時", "20時"),
    ("21時", "21時"),
    ("22時", "22時"),
    ("23時", "23時"),
    ("24時", "24時"),
]

MINUTE = [
    ("00分", "00分"),
    ("15分", "15分"),
    ("30分", "30分"),
    ("45分", "45分"),
]

OWN_WAIVER = [
    ("一切放棄", "一切放棄"),
    ("放棄しない", "放棄しない"),
]

NOTE = [
    ("同意する", "同意する"),
    ("同意しない", "同意しない"),
    ("同意の有無不明", "同意の有無不明"),
]

SEX = [
    ("男", "男"),
    ("女", "女"),
]

COLOR = [
    ("赤", "赤"),
    ("緑", "緑"),
    ("黄", "黄"),
    ("青", "青"),
    ("紫", "紫"),
    ("茶", "茶"),
    ("黒", "黒"),
    ("その他", "その他"),
]

STORAGE_PLACE = [
    ("月", "月"),
    ("火", "火"),
    ("水", "水"),
    ("木", "木"),
    ("金", "金"),
    ("土", "土"),
    ("日", "日"),
    ("倉庫", "倉庫"),
]

ITEM_L = [
    ("衣類・履物類", "衣類・履物類"),
    ("傘類", "傘類"),
]

ITEM_M = [
    ("帽子類", "帽子類"),
    ("手袋", "手袋"),
]

ITEM_S = [
    ("ヘルメット", "ヘルメット"),
    ("サンバイザー", "サンバイザー"),
]

DOCUMENT = [
    ("運転免許証", "運転免許証"),
    ("保険証", "保険証"),
    ("パスポート", "パスポート"),
    ("その他", "その他"),
]
