{% extends "register/base.html" %}
{% block title %}カード会社{% endblock %}
{% block content %}
<form action="{{ url_for('bundleditems.card', item_id=lostitem.id) }}" method="post">
    <!-- メインの拾得物がカードか -->
    {{ form.csrf_token }}
    {% if lostitem.item_class_M=="キャッシュカード類" %}
    <p>拾得物</p>
    <!-- 保管中であれば入力フォームを表示、連絡済みならステータスを表示 -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>カード会社名</th>
                <th>カード名</th>
                <th>連絡日</th>
                <th>連絡時間</th>
                <th>状況</th>
            </tr>
            <tr>
                <th> </th>
                <th>カード会社連絡先</th>
                <th>カード記載人名</th>
                <th>返還（還付）日</th>
                <th>連絡担当者</th>
                <th>更新</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ lostitem.id }}</td>
                <td>{{ lostitem.card_campany }}</td>
                <td>{{ lostitem.card_name }}</td>
                <td>{{ lostitem.card_item.strftime('%Y/%m/%d') if lostitem.card_item is not none else "" }}</td>
                <td>{{ lostitem.card_item_hour }} {{ lostitem.card_item_minute }}</td>
                <td>{{ lostitem.item_situation }}</td>
            </tr>
            <tr>
                <td> </td>
                <td>{{ lostitem.card_tel }}</td>
                <td>{{ lostitem.card_person }}</td>
                <td>{{ lostitem.card_return if lostitem.card_return is not none else "" }}</td>
                <td>{{ lostitem.card_manager }}</td>
                <td><input type="checkbox" name="main" value="{{ lostitem.id }}"></td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    <!-- 同梱物がカードか -->
    <p>同梱物</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>カード会社名</th>
                <th>カード名</th>
                <th>連絡日</th>
                <th>連絡時間</th>
                <th>状況</th>
            </tr>
            <tr>
                <th> </th>
                <th>カード会社連絡先</th>
                <th>カード記載人名</th>
                <th>返還（還付）日</th>
                <th>連絡担当者</th>
                <th>更新</th>
            </tr>
        </thead>
        {% for bundleditem in bundleditems %}
        {% if bundleditem.item_class_M == "キャッシュカード類" %}
        <tbody>
            <tr>
                <td>{{ bundleditem.id }}</td>
                <td>{{ bundleditem.card_campany }}</td>
                <td>{{ bundleditem.card_name }}</td>
                <td>{{ bundleditem.card_item.strftime('%Y/%m/%d') if bundleditem.card_item is not none else "" }}</td>
                <td>{{ bundleditem.card_item_hour }} {{ bundleditem.card_item_minute }}</td>
                <td>{{ bundleditem.item_situation }}</td>
            </tr>
            <tr>
                <td> </td>
                <td>{{ bundleditem.card_tel }}</td>
                <td>{{ bundleditem.card_person }}</td>
                <td>{{ bundleditem.card_return.strftime('%Y/%m/%d') if bundleditem.card_return is not none else "" }}
                </td>
                <td>{{ bundleditem.card_manager }}</td>
                <td><input type="checkbox" name="item" value="{{ bundleditem.id }}"></td>
            </tr>
        </tbody>
        {% endif %}
        {% endfor %}
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>連絡日</th>
                <th>連絡時間</th>
            </tr>
            <tr>
                <th>返還（還付）日</th>
                <th>連絡担当者</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form.card_item }}</td>
                <td>{{ form.card_item_hour }} {{ form.card_item_minute }}</td>
            </tr>
            <tr>
                <td>{{ form.card_return }}</td>
                <td>{{ form.card_manager }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}
        <a class="btn btn-primary" href="{{ url_for('items.index') }}" role="button">戻る</a>
    </div>
</form>
{% endblock %}