{% extends "register/base.html" %}
{% block title %}同梱物の登録{% endblock %}
{% block content %}
<h2>同梱物の登録</h2>
<form action="{{ url_for('bundleditems.register', item_id=lostitem.id) }}" method="post">
    {{ form.csrf_token }}
    <div class="container">
        <div class="row mb-3">
            <div class="col-4">
                <select name="item_class_L" id="item_class_L">
                    <option value="現金">現金</option>
                    <option value="かばん類">かばん類</option>
                    <option value="袋・封筒類">袋・封筒類</option>
                    <option value="財布類">財布類</option>
                    <option value="カードケース類">カードケース類</option>
                    <option value="カメラ類">カメラ類</option>
                    <option value="時計類">時計類</option>
                    <option value="めがね類">めがね類</option>
                    <option value="電気製品類">電気製品類</option>
                    <option value="携帯電話類">携帯電話類</option>
                    <option value="貴金属類">貴金属類</option>
                    <option value="趣味娯楽用品類">趣味娯楽用品類</option>
                    <option value="証明書類・カード類">証明書類・カード類</option>
                    <option value="有価証券類">有価証券類</option>
                    <option value="著作品類">著作品類</option>
                    <option value="手帳文具類">手帳文具類</option>
                    <option value="書類・紙類">書類・紙類</option>
                    <option value="小包・箱類">小包・箱類</option>
                    <option value="衣類・履物類">衣類・履物類</option>
                    <option value="かさ類">かさ類</option>
                    <option value="鍵類">鍵類</option>
                    <option value="生活用品類">生活用品類</option>
                    <option value="医療・化粧品類">医療・化粧品類</option>
                    <option value="食料品類">食料品類</option>
                    <option value="動植物類">動植物類</option>
                    <option value="その他">その他</option>
                </select>
            </div>
            <div class="col-4">
                <select name="item_class_M" id="item_class_M">
                    <option value="現金" data-val="現金">現金</option>
                    <option value="手提げかばん" data-val="かばん類">手提げかばん</option>
                    <option value="肩掛けかばん" data-val="かばん類">肩掛けかばん</option>
                    <option value="抱えかばん" data-val="かばん類">抱えかばん</option>
                    <option value="小物入れ" data-val="かばん類">小物入れ</option>
                    <option value="その他かばん類" data-val="かばん類">その他かばん類</option>
                    <option value="袋" data-val="袋・封筒類">袋</option>
                    <option value="封筒" data-val="袋・封筒類">封筒</option>
                    <option value="財布" data-val="財布類">財布</option>
                    <option value="がま口" data-val="財布類">がま口</option>
                    <option value="小銭入れ" data-val="財布類">小銭入れ</option>
                    <option value="カードケース" data-val="カードケース類">カードケース</option>
                    <option value="名刺入れ" data-val="カードケース類">名刺入れ</option>
                    <option value="カメラ" data-val="カメラ類">カメラ</option>
                    <option value="ビデオカメラ" data-val="カメラ類">ビデオカメラ</option>
                    <option value="カメラ付属品類" data-val="カメラ類">カメラ付属品類</option>
                    <option value="腕時計" data-val="時計類">腕時計</option>
                    <option value="その他時計類" data-val="時計類">その他時計類</option>
                    <option value="めがね" data-val="めがね類">めがね</option>
                    <option value="サングラス類" data-val="めがね類">サングラス類</option>
                    <option value="コンタクトレンズ" data-val="めがね類">コンタクトレンズ</option>
                    <option value="双眼鏡類" data-val="めがね類">双眼鏡類</option>
                    <option value="電気製品" data-val="電気製品類">電気製品</option>
                    <option value="携帯音響品" data-val="電気製品類">携帯音響品</option>
                    <option value="音響関連品" data-val="電気製品類">音響関連品</option>
                    <option value="電子機器" data-val="電気製品類">電子機器</option>
                    <option value="電子玩具" data-val="電気製品類">電子玩具</option>
                    <option value="外部記録媒体" data-val="電気製品類">外部記録媒体</option>
                    <option value="電気製品類付属品" data-val="電気製品類">電気製品類付属品</option>
                    <option value="携帯電話機" data-val="携帯電話類">携帯電話機</option>
                    <option value="その他通信機器類" data-val="携帯電話類">その他通信機器類</option>
                    <option value="ネックレス" data-val="貴金属類">ネックレス</option>
                    <option value="指輪" data-val="貴金属類">指輪</option>
                    <option value="ブレスレット" data-val="貴金属類">ブレスレット</option>
                    <option value="イヤリング類" data-val="貴金属類">イヤリング類</option>
                    <option value="ブローチ" data-val="貴金属類">ブローチ</option>
                    <option value="ペンダント" data-val="貴金属類">ペンダント</option>
                    <option value="その他貴金属類" data-val="貴金属類">その他貴金属類</option>
                    <option value="レジャー・スポーツ用品" data-val="趣味娯楽用品類">レジャー・スポーツ用品</option>
                    <option value="楽器類" data-val="趣味娯楽用品類">楽器類</option>
                    <option value="その他趣味・娯楽用品類" data-val="趣味娯楽用品類">その他趣味・娯楽用品類</option>
                    <option value="運転免許証" data-val="証明書類・カード類">運転免許証</option>
                    <option value="身分証明書類" data-val="証明書類・カード類">身分証明書類</option>
                    <option value="健康保険証類" data-val="証明書類・カード類">健康保険証類</option>
                    <option value="その他証明書類" data-val="証明書類・カード類">その他証明書類</option>
                    <option value="預貯金通帳" data-val="証明書類・カード類">預貯金通帳</option>
                    <option value="キャッシュカード類" data-val="証明書類・カード類">キャッシュカード類</option>
                    <option value="会員証（カード）類" data-val="証明書類・カード類">会員証（カード）類</option>
                    <option value="有価証券" data-val="有価証券類">有価証券</option>
                    <option value="プリペイドカード類" data-val="有価証券類">プリペイドカード類</option>
                    <option value="定期券類" data-val="有価証券類">定期券類</option>
                    <option value="乗車券類" data-val="有価証券類">乗車券類</option>
                    <option value="馬券・宝くじ類" data-val="有価証券類">馬券・宝くじ類</option>
                    <option value="切手類" data-val="有価証券類">切手類</option>
                    <option value="その他証券類" data-val="有価証券類">その他証券類</option>
                    <option value="書籍類" data-val="著作品類">書籍類</option>
                    <option value="ディスク・テープ類" data-val="著作品類">ディスク・テープ類</option>
                    <option value="写真類" data-val="著作品類">写真類</option>
                    <option value="その他著作品類" data-val="著作品類">その他著作品類</option>
                    <option value="手帳・ノート類" data-val="手帳文具類">手帳・ノート類</option>
                    <option value="印鑑類" data-val="手帳文具類">印鑑類</option>
                    <option value="整理収納用品類" data-val="手帳文具類">整理収納用品類</option>
                    <option value="筆箱・筆記用具類" data-val="手帳文具類">筆箱・筆記用具類</option>
                    <option value="その他文具類" data-val="手帳文具類">その他文具類</option>
                    <option value="書類" data-val="書類・紙類">書類</option>
                    <option value="図面類" data-val="書類・紙類">図面類</option>
                    <option value="名刺" data-val="書類・紙類">名刺</option>
                    <option value="その他紙類" data-val="書類・紙類">その他紙類</option>
                    <option value="小包・箱類" data-val="小包・箱類">小包・箱類</option>
                    <option value="帽子類" data-val="衣類・履物類">帽子類</option>
                    <option value="手袋" data-val="衣類・履物類">手袋</option>
                    <option value="マフラー類" data-val="衣類・履物類">マフラー類</option>
                    <option value="上着類" data-val="衣類・履物類">上着類</option>
                    <option value="ズボン類" data-val="衣類・履物類">ズボン類</option>
                    <option value="上下衣類" data-val="衣類・履物類">上下衣類</option>
                    <option value="その他衣類" data-val="衣類・履物類">その他衣類</option>
                    <option value="衣類付属品" data-val="衣類・履物類">衣類付属品</option>
                    <option value="履物類" data-val="衣類・履物類">履物類</option>
                    <option value="かさ" data-val="かさ類">かさ</option>
                    <option value="鍵" data-val="鍵類">鍵</option>
                    <option value="鍵（キーホルダー付）" data-val="鍵類">鍵（キーホルダー付）</option>
                    <option value="鍵（キーケース付）" data-val="鍵類">鍵（キーケース付）</option>
                    <option value="カードキー" data-val="鍵類">カードキー</option>
                    <option value="生活用品" data-val="生活用品類">生活用品</option>
                    <option value="食器類" data-val="生活用品類">食器類</option>
                    <option value="工具類" data-val="生活用品類">工具類</option>
                    <option value="装飾品類" data-val="生活用品類">装飾品類</option>
                    <option value="神仏具品類" data-val="生活用品類">神仏具品類</option>
                    <option value="自転車類" data-val="生活用品類">自転車類</option>
                    <option value="ケース・カバー類" data-val="生活用品類">ケース・カバー類</option>
                    <option value="薬類" data-val="医療・化粧品類">薬類</option>
                    <option value="医療関連品類" data-val="医療・化粧品類">医療関連品類</option>
                    <option value="化粧品類" data-val="医療・化粧品類">化粧品類</option>
                    <option value="食料品類" data-val="食料品類">食料品類</option>
                    <option value="動物" data-val="動植物類">動物</option>
                    <option value="植物" data-val="動植物類">植物</option>
                    <option value="動植物関連品" data-val="動植物類">動植物関連品</option>
                    <option value="所持禁止物品" data-val="その他">所持禁止物品</option>
                    <option value="その他" data-val="その他">その他</option>
                </select>
            </div>
            <div class="col-4">
                <select name="item_class_S" id="item_class_S">
                    <option value="現金" data-val="現金">現金</option>
                    <option value="ハンドバッグ" data-val="手提げかばん">ハンドバッグ</option>
                    <option value="ビジネスバッグ" data-val="手提げかばん">ビジネスバッグ</option>
                    <option value="トートバッグ" data-val="手提げかばん">トートバッグ</option>
                    <option value="ボストンバッグ" data-val="手提げかばん">ボストンバッグ</option>
                    <option value="スポーツバッグ" data-val="手提げかばん">スポーツバッグ</option>
                    <option value="アタッシュケース" data-val="手提げかばん">アタッシュケース</option>
                    <option value="トランク" data-val="手提げかばん">トランク</option>
                    <option value="シューズバッグ" data-val="手提げかばん">シューズバッグ</option>
                    <option value="学生かばん" data-val="手提げかばん">学生かばん</option>
                    <option value="手提げかばん" data-val="手提げかばん">手提げかばん</option>
                    <option value="ショルダーバッグ" data-val="肩掛けかばん">ショルダーバッグ</option>
                    <option value="リュックサック" data-val="肩掛けかばん">リュックサック</option>
                    <option value="デイバッグ" data-val="肩掛けかばん">デイバッグ</option>
                    <option value="肩掛けかばん" data-val="肩掛けかばん">肩掛けかばん</option>
                    <option value="セカンドバッグ" data-val="抱えかばん">セカンドバッグ</option>
                    <option value="抱えかばん" data-val="抱えかばん">抱えかばん</option>
                    <option value="ポーチ" data-val="小物入れ">ポーチ</option>
                    <option value="ウエストポーチ" data-val="小物入れ">ウエストポーチ</option>
                    <option value="ポシェット" data-val="小物入れ">ポシェット</option>
                    <option value="きんちゃく" data-val="小物入れ">きんちゃく</option>
                    <option value="たばこ入れ" data-val="小物入れ">たばこ入れ</option>
                    <option value="小物入れ" data-val="小物入れ">小物入れ</option>
                    <option value="スーツケース" data-val="その他かばん類">スーツケース</option>
                    <option value="ハンガーケース" data-val="その他かばん類">ハンガーケース</option>
                    <option value="その他かばん" data-val="その他かばん類">その他かばん</option>
                    <option value="手提げ袋（ビニール）" data-val="袋">手提げ袋（ビニール）</option>
                    <option value="手提げ袋（紙）" data-val="袋">手提げ袋（紙）</option>
                    <option value="レジ袋" data-val="袋">レジ袋</option>
                    <option value="ビニール袋" data-val="袋">ビニール袋</option>
                    <option value="紙袋" data-val="袋">紙袋</option>
                    <option value="布袋" data-val="袋">布袋</option>
                    <option value="その他袋" data-val="袋">その他袋</option>
                    <option value="お年玉袋" data-val="封筒">お年玉袋</option>
                    <option value="のし袋" data-val="封筒">のし袋</option>
                    <option value="薬袋" data-val="封筒">薬袋</option>
                    <option value="書類袋" data-val="封筒">書類袋</option>
                    <option value="名入り封筒" data-val="封筒">名入り封筒</option>
                    <option value="封筒" data-val="封筒">封筒</option>
                    <option value="札入れ" data-val="財布">札入れ</option>
                    <option value="財布" data-val="財布">財布</option>
                    <option value="がま口" data-val="がま口">がま口</option>
                    <option value="小銭入れ（チャック式）" data-val="小銭入れ">小銭入れ（チャック式）</option>
                    <option value="小銭入れ（ホック式）" data-val="小銭入れ">小銭入れ（ホック式）</option>
                    <option value="小銭入れ" data-val="小銭入れ">小銭入れ</option>
                    <option value="コインケース" data-val="小銭入れ">コインケース</option>
                    <option value="定期券入れ" data-val="カードケース">定期券入れ</option>
                    <option value="免許証入れ" data-val="カードケース">免許証入れ</option>
                    <option value="カード入れ" data-val="カードケース">カード入れ</option>
                    <option value="名刺入れ" data-val="名刺入れ">名刺入れ</option>
                    <option value="デジタルカメラ" data-val="カメラ">デジタルカメラ</option>
                    <option value="コンパクトカメラ" data-val="カメラ">コンパクトカメラ</option>
                    <option value="一眼レフカメラ" data-val="カメラ">一眼レフカメラ</option>
                    <option value="使い捨てカメラ" data-val="カメラ">使い捨てカメラ</option>
                    <option value="その他カメラ" data-val="カメラ">その他カメラ</option>
                    <option value="デジタルビデオカメラ" data-val="ビデオカメラ">デジタルビデオカメラ</option>
                    <option value="ビデオカメラ" data-val="ビデオカメラ">ビデオカメラ</option>
                    <option value="カメラケース" data-val="カメラ付属品類">カメラケース</option>
                    <option value="フィルム" data-val="カメラ付属品類">フィルム</option>
                    <option value="三脚" data-val="カメラ付属品類">三脚</option>
                    <option value="カメラレンズ" data-val="カメラ付属品類">カメラレンズ</option>
                    <option value="その他カメラ付属品" data-val="カメラ付属品類">その他カメラ付属品</option>
                    <option value="腕時計男性（金属製ベルト）" data-val="腕時計">腕時計男性（金属製ベルト）</option>
                    <option value="腕時計女性（金属製ベルト）" data-val="腕時計">腕時計女性（金属製ベルト）</option>
                    <option value="腕時計男性（革製ベルト）" data-val="腕時計">腕時計男性（革製ベルト）</option>
                    <option value="腕時計女性（革製ベルト）" data-val="腕時計">腕時計女性（革製ベルト）</option>
                    <option value="腕時計男性（その他ベルト）" data-val="腕時計">腕時計男性（その他ベルト）</option>
                    <option value="腕時計女性（その他ベルト）" data-val="腕時計">腕時計女性（その他ベルト）</option>
                    <option value="置時計" data-val="その他時計類">置時計</option>
                    <option value="懐中時計" data-val="その他時計類">懐中時計</option>
                    <option value="壁掛時計" data-val="その他時計類">壁掛時計</option>
                    <option value="その他時計" data-val="その他時計類">その他時計</option>
                    <option value="めがね（ケースあり）" data-val="めがね">めがね（ケースあり）</option>
                    <option value="めがね（ケース無し）" data-val="めがね">めがね（ケース無し）</option>
                    <option value="その他めがね" data-val="めがね">その他めがね</option>
                    <option value="サングラス" data-val="サングラス類">サングラス</option>
                    <option value="ゴーグル" data-val="サングラス類">ゴーグル</option>
                    <option value="コンタクトレンズ" data-val="コンタクトレンズ">コンタクトレンズ</option>
                    <option value="双眼鏡" data-val="双眼鏡類">双眼鏡</option>
                    <option value="レンズ" data-val="双眼鏡類">レンズ</option>
                    <option value="ルーペ" data-val="双眼鏡類">ルーペ</option>
                    <option value="その他めがね" data-val="双眼鏡類">その他めがね</option>
                    <option value=防犯ブザー"" data-val="電気製品" 防犯ブザー></option>
                    <option value="ライト" data-val="電気製品">ライト</option>
                    <option value="電気カミソリ" data-val="電気製品">電気カミソリ</option>
                    <option value="DVDプレーヤー" data-val="電気製品">DVDプレーヤー</option>
                    <option value="ドライヤー" data-val="電気製品">ドライヤー</option>
                    <option value="電球" data-val="電気製品">電球</option>
                    <option value="その他電気製品" data-val="電気製品">その他電気製品</option>
                    <option value="MP3プレーヤー" data-val="携帯音響品">MP3プレーヤー</option>
                    <option value="デジタルオーディオプレーヤー" data-val="携帯音響品">デジタルオーディオプレーヤー</option>
                    <option value="携帯ラジオ" data-val="携帯音響品">携帯ラジオ</option>
                    <option value="MDプレーヤー" data-val="携帯音響品">MDプレーヤー</option>
                    <option value="CDプレーヤー" data-val="携帯音響品">CDプレーヤー</option>
                    <option value="その他携帯音響品" data-val="携帯音響品">その他携帯音響品</option>
                    <option value="イヤホン" data-val="音響関連品">イヤホン</option>
                    <option value="ヘッドホン" data-val="音響関連品">ヘッドホン</option>
                    <option value="マイク" data-val="音響関連品">マイク</option>
                    <option value="その他音響関連" data-val="音響関連品">その他音響関連</option>
                    <option value="ノートパソコン" data-val="電子機器">ノートパソコン</option>
                    <option value="電卓" data-val="電子機器">電卓</option>
                    <option value="電子辞書" data-val="電子機器">電子辞書</option>
                    <option value="電子手帳" data-val="電子機器">電子手帳</option>
                    <option value="パソコンソフト" data-val="電子機器">パソコンソフト</option>
                    <option value="マウスパッド" data-val="電子機器">マウスパッド</option>
                    <option value="その他電子機器" data-val="電子機器">その他電子機器</option>
                    <option value="ゲーム機" data-val="電子玩具">ゲーム機</option>
                    <option value="ゲームソフト" data-val="電子玩具">ゲームソフト</option>
                    <option value="その他電子玩具" data-val="電子玩具">その他電子玩具</option>
                    <option value="FD" data-val="外部記録媒体">FD</option>
                    <option value="USBメモリー" data-val="外部記録媒体">USBメモリー</option>
                    <option value="メモリーカード" data-val="外部記録媒体">メモリーカード</option>
                    <option value="ビデオテープ" data-val="外部記録媒体">ビデオテープ</option>
                    <option value="カセットテープ" data-val="外部記録媒体">カセットテープ</option>
                    <option value="DVD" data-val="外部記録媒体">DVD</option>
                    <option value="CD" data-val="外部記録媒体">CD</option>
                    <option value="MD" data-val="外部記録媒体">MD</option>
                    <option value="その他外部記録媒体" data-val="外部記録媒体">その他外部記録媒体</option>
                    <option value="充電器" data-val="外部記録媒体">充電器</option>
                    <option value="電源" data-val="外部記録媒体">電源</option>
                    <option value="アダプター" data-val="外部記録媒体">アダプター</option>
                    <option value="コード" data-val="外部記録媒体">コード</option>
                    <option value="その他電気製品付属品" data-val="外部記録媒体">その他電気製品付属品</option>
                    <option value="携帯電話機" data-val="携帯電話機">携帯電話機</option>
                    <option value="ポケットベル" data-val="携帯電話機">ポケットベル</option>
                    <option value="その他携帯電話機" data-val="携帯電話機">その他携帯電話機</option>
                    <option value="位置情報携帯端末" data-val="その他通信機器類">位置情報携帯端末</option>
                    <option value="ネックレス" data-val="ネックレス">ネックレス</option>
                    <option value="指輪（石つき）" data-val="指輪">指輪（石つき）</option>
                    <option value="指輪（石なし）" data-val="指輪">指輪（石なし）</option>
                    <option value="ブレスレット" data-val="ブレスレット">ブレスレット</option>
                    <option value="ピアス" data-val="イヤリング類">ピアス</option>
                    <option value="イヤリング" data-val="イヤリング類">イヤリング</option>
                    <option value="ブローチ" data-val="ブローチ">ブローチ</option>
                    <option value="ペンダント" data-val="ペンダント">ペンダント</option>
                    <option value="金地金" data-val="その他貴金属類">金地金</option>
                    <option value="グローブ" data-val="レジャー・スポーツ用品">グローブ</option>
                    <option value="ゴルフバッグ" data-val="レジャー・スポーツ用品">ゴルフバッグ</option>
                    <option value="ゴルフクラブ" data-val="レジャー・スポーツ用品">ゴルフクラブ</option>
                    <option value="テニスラケット" data-val="レジャー・スポーツ用品">テニスラケット</option>
                    <option value="スケートボード" data-val="レジャー・スポーツ用品">スケートボード</option>
                    <option value="浮き輪" data-val="レジャー・スポーツ用品">浮き輪</option>
                    <option value="釣り竿" data-val="レジャー・スポーツ用品">釣り竿</option>
                    <option value="釣り道具" data-val="レジャー・スポーツ用品">釣り道具</option>
                    <option value="クーラーボックス" data-val="レジャー・スポーツ用品">クーラーボックス</option>
                    <option value="その他レジャー用品" data-val="レジャー・スポーツ用品">その他レジャー用品</option>
                    <option value="その他スポーツ用品" data-val="レジャー・スポーツ用品">その他スポーツ用品</option>
                    <option value="ギター" data-val="楽器類">ギター</option>
                    <option value="笛" data-val="楽器類">笛</option>
                    <option value="フルート" data-val="楽器類">フルート</option>
                    <option value="その他楽器" data-val="楽器類">その他楽器</option>
                    <option value="おもちゃ" data-val="その他趣味・娯楽用品類">おもちゃ</option>
                    <option value="ぬいぐるみ" data-val="その他趣味・娯楽用品類">ぬいぐるみ</option>
                    <option value="ゲームカード" data-val="その他趣味・娯楽用品類">ゲームカード</option>
                    <option value="人形" data-val="その他趣味・娯楽用品類">人形</option>
                    <option value="トランプ" data-val="その他趣味・娯楽用品類">トランプ</option>
                    <option value="キックボード" data-val="その他趣味・娯楽用品類">キックボード</option>
                    <option value="その他趣味用品" data-val="その他趣味・娯楽用品類">その他趣味用品</option>
                    <option value="その他娯楽用品" data-val="その他趣味・娯楽用品類">その他娯楽用品</option>
                    <option value="運転免許証" data-val="運転免許証">運転免許証</option>
                    <option value="仮運転免許証" data-val="運転免許証">仮運転免許証</option>
                    <option value="国際免許証" data-val="運転免許証">国際免許証</option>
                    <option value="学生証" data-val="身分証明書類">学生証</option>
                    <option value="生徒証" data-val="身分証明書類">生徒証</option>
                    <option value="従業員証" data-val="身分証明書類">従業員証</option>
                    <option value="会社員証" data-val="身分証明書類">会社員証</option>
                    <option value="外国人登録証" data-val="身分証明書類">外国人登録証</option>
                    <option value="パスポート" data-val="身分証明書類">パスポート</option>
                    <option value="身分証明書" data-val="身分証明書類">身分証明書</option>
                    <option value="国民健康保険証" data-val="健康保険証類">国民健康保険証</option>
                    <option value="社会保険証" data-val="健康保険証類">社会保険証</option>
                    <option value="共済組合員証" data-val="健康保険証類">共済組合員証</option>
                    <option value="老人医療証" data-val="健康保険証類">老人医療証</option>
                    <option value="乳児医療証" data-val="健康保険証類">乳児医療証</option>
                    <option value="診察券" data-val="健康保険証類">診察券</option>
                    <option value="身体障碍者手帳" data-val="その他証明書類">身体障碍者手帳</option>
                    <option value="母子手帳" data-val="その他証明書類">母子手帳</option>
                    <option value="年金手帳" data-val="その他証明書類">年金手帳</option>
                    <option value="献血手帳" data-val="その他証明書類">献血手帳</option>
                    <option value="雇用保険被保険者証" data-val="その他証明書類">雇用保険被保険者証</option>
                    <option value="印鑑登録証" data-val="その他証明書類">印鑑登録証</option>
                    <option value="印鑑登録証明書" data-val="その他証明書類">印鑑登録証明書</option>
                    <option value="住民票" data-val="その他証明書類">住民票</option>
                    <option value="住民基本台帳カード" data-val="その他証明書類">住民基本台帳カード</option>
                    <option value="自動車検査証" data-val="その他証明書類">自動車検査証</option>
                    <option value="ナンバープレート" data-val="その他証明書類">ナンバープレート</option>
                    <option value="自賠責保険証" data-val="その他証明書類">自賠責保険証</option>
                    <option value="生命保険証" data-val="その他証明書類">生命保険証</option>
                    <option value="傷害保険証" data-val="その他証明書類">傷害保険証</option>
                    <option value="船舶免許証" data-val="その他証明書類">船舶免許証</option>
                    <option value="無線免許証" data-val="その他証明書類">無線免許証</option>
                    <option value="クレーン免許証" data-val="その他証明書類">クレーン免許証</option>
                    <option value="宅地建物取扱主任者証" data-val="その他証明書類">宅地建物取扱主任者証</option>
                    <option value="通行証" data-val="その他証明書類">通行証</option>
                    <option value="その他証明証" data-val="その他証明書類">その他証明証</option>
                    <option value="預貯金通帳" data-val="預貯金通帳">預貯金通帳</option>
                    <option value="預貯金証書" data-val="預貯金通帳">預貯金証書</option>
                    <option value="その他通帳" data-val="預貯金通帳">その他通帳</option>
                    <option value="キャッシュカード" data-val="キャッシュカード類">キャッシュカード</option>
                    <option value="クレジットカード" data-val="キャッシュカード類">クレジットカード</option>
                    <option value="PiTaPaカード" data-val="キャッシュカード類">PiTaPaカード</option>
                    <option value="メンバーズカード" data-val="会員証（カード）類">メンバーズカード</option>
                    <option value="ポイントカード" data-val="会員証（カード）類">ポイントカード</option>
                    <option value="図書館利用者カード" data-val="会員証（カード）類">図書館利用者カード</option>
                    <option value="ビデオレンタルカード" data-val="会員証（カード）類">ビデオレンタルカード</option>
                    <option value="振込カード" data-val="会員証（カード）類">振込カード</option>
                    <option value="給油カード" data-val="会員証（カード）類">給油カード</option>
                    <option value="受験カード" data-val="会員証（カード）類">受験カード</option>
                    <option value="その他のカード" data-val="会員証（カード）類">その他のカード</option>
                    <option value="商品券" data-val="有価証券">商品券</option>
                    <option value="図書券" data-val="有価証券">図書券</option>
                    <option value="会員券" data-val="有価証券">会員券</option>
                    <option value="ギフト券" data-val="有価証券">ギフト券</option>
                    <option value="ビール券" data-val="有価証券">ビール券</option>
                    <option value="小切手" data-val="有価証券">小切手</option>
                    <option value="株券" data-val="有価証券">株券</option>
                    <option value="テレホンカード" data-val="プリペイドカード類">テレホンカード</option>
                    <option value="パスネット" data-val="プリペイドカード類">パスネット</option>
                    <option value="パスカード" data-val="プリペイドカード類">パスカード</option>
                    <option value="Suica" data-val="プリペイドカード類">Suica</option>
                    <option value="ICOCA" data-val="プリペイドカード類">ICOCA</option>
                    <option value="PASMO" data-val="プリペイドカード類">PASMO</option>
                    <option value="オレンジカード" data-val="プリペイドカード類">オレンジカード</option>
                    <option value="その他プリペイドカード" data-val="プリペイドカード類">その他プリペイドカード</option>
                    <option value="定期券" data-val="定期券類">定期券</option>
                    <option value="Suica定期" data-val="定期券類">Suica定期</option>
                    <option value="ICOCA定期" data-val="定期券類">ICOCA定期</option>
                    <option value="PASMO定期" data-val="定期券類">PASMO定期</option>
                    <option value="シルバーパス" data-val="定期券類">シルバーパス</option>
                    <option value="身体障碍者無料乗車証" data-val="定期券類">身体障碍者無料乗車証</option>
                    <option value="株主優待乗車証" data-val="定期券類">株主優待乗車証</option>
                    <option value="回数券" data-val="乗車券類">回数券</option>
                    <option value="乗車券" data-val="乗車券類">乗車券</option>
                    <option value="航空券" data-val="乗車券類">航空券</option>
                    <option value="宝くじ" data-val="馬券・宝くじ類">宝くじ</option>
                    <option value="馬券" data-val="馬券・宝くじ類">馬券</option>
                    <option value="郵便切手" data-val="切手類">郵便切手</option>
                    <option value="収入印紙" data-val="切手類">収入印紙</option>
                    <option value="未使用郵便はがき" data-val="切手類">未使用郵便はがき</option>
                    <option value="損傷紙幣" data-val="その他証券類">損傷紙幣</option>
                    <option value="外国通貨" data-val="その他証券類">外国通貨</option>
                    <option value="古銭・旧通貨" data-val="その他証券類" 古銭・旧通貨></option>
                    <option value="入場券" data-val="その他証券類">入場券</option>
                    <option value="その他証券" data-val="その他証券類">その他証券</option>
                    <option value="文庫本" data-val="書籍類">文庫本</option>
                    <option value="雑誌" data-val="書籍類">雑誌</option>
                    <option value="単行本" data-val="書籍類">単行本</option>
                    <option value="時刻表" data-val="書籍類">時刻表</option>
                    <option value="マンガ本" data-val="書籍類">マンガ本</option>
                    <option value="教科書" data-val="書籍類">教科書</option>
                    <option value="冊子" data-val="書籍類">冊子</option>
                    <option value="地図" data-val="書籍類">地図</option>
                    <option value="その他書籍" data-val="書籍類">その他書籍</option>
                    <option value="ビデオソフト" data-val="ディスク・テープ類">ビデオソフト</option>
                    <option value="CDソフト" data-val="ディスク・テープ類">CDソフト</option>
                    <option value="MDソフト" data-val="ディスク・テープ類">MDソフト</option>
                    <option value="DVDソフト" data-val="ディスク・テープ類">DVDソフト</option>
                    <option value="その他ディスクテープ" data-val="ディスク・テープ類">その他ディスクテープ</option>
                    <option value="写真" data-val="写真類">写真</option>
                    <option value="ネガ" data-val="写真類">ネガ</option>
                    <option value="写真パネル" data-val="写真類">写真パネル</option>
                    <option value="その他写真類" data-val="写真類">その他写真類</option>
                    <option value="絵画" data-val="その他著作品類">絵画</option>
                    <option value="版画" data-val="その他著作品類">版画</option>
                    <option value="その他著作品類" data-val="その他著作品類">その他著作品類</option>
                    <option value="手帳" data-val="手帳・ノート類">手帳</option>
                    <option value="アドレス帳" data-val="手帳・ノート類">アドレス帳</option>
                    <option value="ノート" data-val="手帳・ノート類">ノート</option>
                    <option value="システム手帳" data-val="手帳・ノート類">システム手帳</option>
                    <option value="印鑑" data-val="印鑑類">印鑑</option>
                    <option value="朱肉" data-val="印鑑類">朱肉</option>
                    <option value="ビニールケース" data-val="整理収納用品類">ビニールケース</option>
                    <option value="クリアーファイル" data-val="整理収納用品類">クリアーファイル</option>
                    <option value="書類入れ" data-val="整理収納用品類">書類入れ</option>
                    <option value="バインダー" data-val="整理収納用品類">バインダー</option>
                    <option value="アルバム" data-val="整理収納用品類">アルバム</option>
                    <option value="クリアーケース" data-val="整理収納用品類">クリアーケース</option>
                    <option value="プラスチックケース" data-val="整理収納用品類">プラスチックケース</option>
                    <option value="手提げ金庫" data-val="整理収納用品類">手提げ金庫</option>
                    <option value="ボールペン" data-val="筆箱・筆記用具類">ボールペン</option>
                    <option value="筆入れ" data-val="筆箱・筆記用具類">筆入れ</option>
                    <option value="カッターナイフ" data-val="その他文具類">カッターナイフ</option>
                    <option value="定規" data-val="その他文具類">定規</option>
                    <option value="ハサミ" data-val="その他文具類">ハサミ</option>
                    <option value="その他文具" data-val="その他文具類">その他文具</option>
                    <option value="領収書" data-val="書類">領収書</option>
                    <option value="明細書" data-val="書類">明細書</option>
                    <option value="契約書" data-val="書類">契約書</option>
                    <option value="履歴書" data-val="書類">履歴書</option>
                    <option value="受領書" data-val="書類">受領書</option>
                    <option value="保証書" data-val="書類">保証書</option>
                    <option value="注文書" data-val="書類">注文書</option>
                    <option value="資料" data-val="書類">資料</option>
                    <option value="賞状" data-val="書類">賞状</option>
                    <option value="その他書類" data-val="書類">その他書類</option>
                    <option value="建築図面" data-val="図面類">建築図面</option>
                    <option value="電気図面" data-val="図面類">電気図面</option>
                    <option value="カレンダー" data-val="図面類">カレンダー</option>
                    <option value="パンフレット" data-val="図面類">パンフレット</option>
                    <option value="カタログ" data-val="図面類">カタログ</option>
                    <option value="名刺" data-val="名刺">名刺</option>
                    <option value="レシート" data-val="その他紙類">レシート</option>
                    <option value="割引券" data-val="その他紙類">割引券</option>
                    <option value="使用済み郵便はがき" data-val="その他紙類">使用済み郵便はがき</option>
                    <option value="振込用紙" data-val="その他紙類">振込用紙</option>
                    <option value="手紙" data-val="その他紙類">手紙</option>
                    <option value="駐車券" data-val="その他紙類">駐車券</option>
                    <option value="食券" data-val="その他紙類">食券</option>
                    <option value="その他紙類" data-val="その他紙類">その他紙類</option>
                    <option value="段ボール箱" data-val="小包・箱類">段ボール箱</option>
                    <option value="箱" data-val="小包・箱類">箱</option>
                    <option value="菓子箱" data-val="小包・箱類">菓子箱</option>
                    <option value="宅配物" data-val="小包・箱類">宅配物</option>
                    <option value="郵便小包" data-val="小包・箱類">郵便小包</option>
                    <option value="その他小包・箱類" data-val="小包・箱類">その他小包・箱類</option>
                    <option value="ヘルメット" data-val="帽子類">ヘルメット</option>
                    <option value="サンバイザー" data-val="帽子類">サンバイザー</option>
                    <option value="野球帽" data-val="帽子類">野球帽</option>
                    <option value="耳あて" data-val="帽子類">耳あて</option>
                    <option value="帽子" data-val="帽子類">帽子</option>
                    <option value="手袋（両手）" data-val="手袋">手袋（両手）</option>
                    <option value="手袋（片手）" data-val="手袋">手袋（片手）</option>
                    <option value="マフラー" data-val="マフラー類">マフラー</option>
                    <option value="スカーフ" data-val="マフラー類">スカーフ</option>
                    <option value="ショール" data-val="マフラー類">ショール</option>
                    <option value="ストール" data-val="マフラー類">ストール</option>
                    <option value="ひざ掛け" data-val="マフラー類">ひざ掛け</option>
                    <option value="ジャンパー" data-val="上着類">ジャンパー</option>
                    <option value="ジャケット" data-val="上着類">ジャケット</option>
                    <option value="カーディガン" data-val="上着類">カーディガン</option>
                    <option value="Tシャツ" data-val="上着類">Tシャツ</option>
                    <option value="ワイシャツ" data-val="上着類">ワイシャツ</option>
                    <option value="ブラウス" data-val="上着類">ブラウス</option>
                    <option value="セーター" data-val="上着類">セーター</option>
                    <option value="トレーナー" data-val="上着類">トレーナー</option>
                    <option value="ベスト" data-val="上着類">ベスト</option>
                    <option value="コート" data-val="上着類">コート</option>
                    <option value="パーカー" data-val="上着類">パーカー</option>
                    <option value="ズボン" data-val="ズボン類">ズボン</option>
                    <option value="ジーパン" data-val="ズボン類">ジーパン</option>
                    <option value="スカート" data-val="ズボン類">スカート</option>
                    <option value="スーツ" data-val="上下衣類">スーツ</option>
                    <option value="ワンピース" data-val="上下衣類">ワンピース</option>
                    <option value="作業着" data-val="上下衣類">作業着</option>
                    <option value="制服" data-val="上下衣類">制服</option>
                    <option value="白衣" data-val="上下衣類">白衣</option>
                    <option value="柔道着" data-val="上下衣類">柔道着</option>
                    <option value="ウインドブレーカー" data-val="上下衣類">ウインドブレーカー</option>
                    <option value="スポーツウェア" data-val="上下衣類">スポーツウェア</option>
                    <option value="合羽" data-val="上下衣類">合羽</option>
                    <option value="着物" data-val="上下衣類">着物</option>
                    <option value="下着類" data-val="その他衣類">下着類</option>
                    <option value="水着" data-val="その他衣類">水着</option>
                    <option value="ネクタイ" data-val="その他衣類">ネクタイ</option>
                    <option value="エプロン" data-val="その他衣類">エプロン</option>
                    <option value="バンダナ" data-val="その他衣類">バンダナ</option>
                    <option value="パジャマ" data-val="その他衣類">パジャマ</option>
                    <option value="靴下" data-val="その他衣類">靴下</option>
                    <option value="その他衣類" data-val="その他衣類">その他衣類</option>
                    <option value="ベルト" data-val="衣類付属品">ベルト</option>
                    <option value="バックル" data-val="衣類付属品">バックル</option>
                    <option value="ネクタイピン" data-val="衣類付属品">ネクタイピン</option>
                    <option value="カフスボタン" data-val="衣類付属品">カフスボタン</option>
                    <option value="ボタン" data-val="衣類付属品">ボタン</option>
                    <option value="その他衣類付属品" data-val="衣類付属品">その他衣類付属品</option>
                    <option value="上履き" data-val="履物類">上履き</option>
                    <option value="ランニングシューズ" data-val="履物類">ランニングシューズ</option>
                    <option value="サンダル" data-val="履物類">サンダル</option>
                    <option value="スリッパ" data-val="履物類">スリッパ</option>
                    <option value="その他履物" data-val="履物類">その他履物</option>
                    <option value="長傘" data-val="かさ">長傘</option>
                    <option value="折りたたみ傘" data-val="かさ">折りたたみ傘</option>
                    <option value="ビニール傘" data-val="かさ">ビニール傘</option>
                    <option value="その他（かさ）" data-val="かさ">その他（かさ）</option>
                    <option value="自動車用鍵" data-val="鍵">自動車用鍵</option>
                    <option value="自転車用鍵" data-val="鍵">自転車用鍵</option>
                    <option value="家用鍵" data-val="鍵">家用鍵</option>
                    <option value="その他鍵" data-val="鍵">その他鍵</option>
                    <option value="自動車用鍵" data-val="鍵（キーホルダー付）">自動車用鍵</option>
                    <option value="自転車用鍵" data-val="鍵（キーホルダー付）">自転車用鍵</option>
                    <option value="家用鍵" data-val="鍵（キーホルダー付）">家用鍵</option>
                    <option value="その他キーホルダー付鍵" data-val="鍵（キーホルダー付）">その他キーホルダー付鍵</option>
                    <option value="自動車用鍵" data-val="鍵（キーケース付）">自動車用鍵</option>
                    <option value="自転車用鍵" data-val="鍵（キーケース付）">自転車用鍵</option>
                    <option value="家用鍵" data-val="鍵（キーケース付）">家用鍵</option>
                    <option value="その他キーケース付鍵" data-val="鍵（キーケース付）">その他キーケース付鍵</option>
                    <option value="セキュリティカード" data-val="カードキー">セキュリティカード</option>
                    <option value="ICカード" data-val="カードキー">ICカード</option>
                    <option value="入室カード" data-val="カードキー">入室カード</option>
                    <option value="その他カードキー" data-val="カードキー">その他カードキー</option>
                    <option value="タオル" data-val="生活用品">タオル</option>
                    <option value="ハンカチ" data-val="生活用品">ハンカチ</option>
                    <option value="ライター" data-val="生活用品">ライター</option>
                    <option value="灰皿" data-val="生活用品">灰皿</option>
                    <option value="キーホルダー" data-val="生活用品">キーホルダー</option>
                    <option value="ストラップ" data-val="生活用品">ストラップ</option>
                    <option value="ティッシュペーパー" data-val="生活用品">ティッシュペーパー</option>
                    <option value="くし" data-val="生活用品">くし</option>
                    <option value="洗面具" data-val="生活用品">洗面具</option>
                    <option value="鏡" data-val="生活用品">鏡</option>
                    <option value="石鹸" data-val="生活用品">石鹸</option>
                    <option value="紙おむつ" data-val="生活用品">紙おむつ</option>
                    <option value="扇子" data-val="生活用品">扇子</option>
                    <option value="風呂敷" data-val="生活用品">風呂敷</option>
                    <option value="クッション" data-val="生活用品">クッション</option>
                    <option value="枕" data-val="生活用品">枕</option>
                    <option value="ハサミ" data-val="生活用品">ハサミ</option>
                    <option value="その他生活用品" data-val="生活用品">その他生活用品</option>
                    <option value="水筒" data-val="食器類">水筒</option>
                    <option value="弁当箱" data-val="食器類">弁当箱</option>
                    <option value="包丁" data-val="食器類">包丁</option>
                    <option value="食品保存容器" data-val="食器類">食品保存容器</option>
                    <option value="皿" data-val="食器類">皿</option>
                    <option value="その他食器" data-val="食器類">その他食器</option>
                    <option value="ドライバー" data-val="工具類">ドライバー</option>
                    <option value="ペンチ" data-val="工具類">ペンチ</option>
                    <option value="レンチ" data-val="工具類">レンチ</option>
                    <option value="その他工具" data-val="工具類">その他工具</option>
                    <option value="名札" data-val="装飾品類">名札</option>
                    <option value="腕章" data-val="装飾品類">腕章</option>
                    <option value="バッチ" data-val="装飾品類">バッチ</option>
                    <option value="ヘアピン" data-val="装飾品類">ヘアピン</option>
                    <option value="かんざし" data-val="装飾品類">かんざし</option>
                    <option value="コサージュ" data-val="装飾品類">コサージュ</option>
                    <option value="リストバンド" data-val="装飾品類">リストバンド</option>
                    <option value="その他装飾品" data-val="装飾品類">その他装飾品</option>
                    <option value="お守り" data-val="神仏具品類">お守り</option>
                    <option value="数珠" data-val="神仏具品類">数珠</option>
                    <option value="おみくじ" data-val="神仏具品類">おみくじ</option>
                    <option value="お骨" data-val="神仏具品類">お骨</option>
                    <option value="その他神仏具品" data-val="神仏具品類">その他神仏具品</option>
                    <option value="自転車" data-val="自転車類">自転車</option>
                    <option value="キャリアカート" data-val="自転車類">キャリアカート</option>
                    <option value="ベビーカー" data-val="自転車類">ベビーカー</option>
                    <option value="台車" data-val="自転車類">台車</option>
                    <option value="タイヤ" data-val="自転車類">タイヤ</option>
                    <option value="その他自転車類" data-val="自転車類">その他自転車類</option>
                    <option value="めがねケース" data-val="ケース・カバー類">めがねケース</option>
                    <option value="キーケース" data-val="ケース・カバー類">キーケース</option>
                    <option value="ペットボトルケース" data-val="ケース・カバー類">ペットボトルケース</option>
                    <option value="ティッシュケース" data-val="ケース・カバー類">ティッシュケース</option>
                    <option value="傘カバー" data-val="ケース・カバー類">傘カバー</option>
                    <option value="その他ケース・カバー" data-val="ケース・カバー類">その他ケース・カバー</option>
                    <option value="絆創膏" data-val="薬類">絆創膏</option>
                    <option value="コンタクト洗浄液" data-val="薬類">コンタクト洗浄液</option>
                    <option value="薬" data-val="薬類">薬</option>
                    <option value="救急箱" data-val="薬類">救急箱</option>
                    <option value="その他薬類" data-val="薬類">その他薬類</option>
                    <option value="杖" data-val="医療関連品類">杖</option>
                    <option value="万歩計" data-val="医療関連品類">万歩計</option>
                    <option value="入れ歯" data-val="医療関連品類">入れ歯</option>
                    <option value="補聴器" data-val="医療関連品類">補聴器</option>
                    <option value="その他医療品関連" data-val="医療関連品類">その他医療品関連</option>
                    <option value="口紅" data-val="化粧品類">口紅</option>
                    <option value="香水" data-val="化粧品類">香水</option>
                    <option value="コンパクト" data-val="化粧品類">コンパクト</option>
                    <option value="化粧品" data-val="化粧品類">化粧品</option>
                    <option value="その他化粧品類" data-val="化粧品類">その他化粧品類</option>
                    <option value="食品" data-val="食料品類">食品</option>
                    <option value="飲料品" data-val="食料品類">飲料品</option>
                    <option value="酒" data-val="食料品類">酒</option>
                    <option value="たばこ" data-val="食料品類">たばこ</option>
                    <option value="その他食料品" data-val="食料品類">その他食料品</option>
                    <option value="（動物名）記載" data-val="動物">（動物名）記載</option>
                    <option value="（昆虫名）記載" data-val="動物">（昆虫名）記載</option>
                    <option value="その他動物" data-val="動物">その他動物</option>
                    <option value="花束" data-val="植物">花束</option>
                    <option value="鉢植え" data-val="植物">鉢植え</option>
                    <option value="その他植物" data-val="植物">その他植物</option>
                    <option value="虫かご" data-val="動植物関連品">虫かご</option>
                    <option value="鳥かご" data-val="動植物関連品">鳥かご</option>
                    <option value="ペットフード" data-val="動植物関連品">ペットフード</option>
                    <option value="肥料" data-val="動植物関連品">肥料</option>
                    <option value="その他動植物関連品" data-val="動植物関連品">その他動植物関連品</option>
                    <option value="けん銃" data-val="所持禁止物品">けん銃</option>
                    <option value="刀" data-val="所持禁止物品">刀</option>
                    <option value="覚せい剤" data-val="所持禁止物品">覚せい剤</option>
                    <option value="その他所持禁止物品" data-val="所持禁止物品">その他所持禁止物品</option>
                    <option value="土器・石器" data-val="その他">土器・石器</option>
                    <option value="金庫" data-val="その他">金庫</option>
                    <option value="消火器" data-val="その他">消火器</option>
                    <option value="薬品" data-val="その他">薬品</option>
                    <option value="看板" data-val="その他">看板</option>
                    <option value="その他" data-val="その他">その他</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.item_value.label }} {{ form.item_value }}</div>
            <div class="col-4">{{ form.item_color.label }} {{ form.item_color }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.item_storage.label }} {{ form.item_storage }}</div>
            <div class="col-4">{{ form.item_storage_place.label }} {{ form.item_storage_place }}</div>
            <div class="col-4">{{ form.item_expiration.label }} {{ form.item_expiration }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.item_maker.label }} {{ form.item_maker }}</div>
            <div class="col-4">{{ form.item_num.label }} {{ form.item_num }}</div>
            <div class="col-4">{{ form.item_unit.label }} {{ form.item_unit }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.item_plice.label }} {{ form.item_plice }}</div>
            <div class="col-4">{{ form.item_money.label }} {{ form.item_money }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.item_remarks.label }} {{ form.item_remarks }}</div>
            <div class="col-4">{{ form.item_feature.label }} {{ form.item_feature }}</div>
        </div>
        <p>
            <hr>
            遺失物がカードであれば、以下の項目を入力してください。<br>
            同梱物として登録する場合は、同梱物の詳細画面からカード情報を入力してください。
        </p>
        <div class="row mb-5">
            <div class="col-3">{{ form.card_campany.label }} {{ form.card_campany }}</div>
            <div class="col-3">{{ form.card_tel.label }} {{ form.card_tel }}</div>
            <div class="col-3">{{ form.card_name.label }} {{ form.card_name }}</div>
            <div class="col-3">{{ form.card_person.label }} {{ form.card_person }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-3">{{ form.card_item.label }} {{ form.card_item }}</div>
            <div class="col-3">{{ form.card_return.label }} {{ form.card_return }}</div>
            <div class="col-3">{{ form.card_item_hour.label }} {{ form.card_item_hour }}</div>
            <div class="col-3">{{ form.card_item_minute.label }} {{ form.card_item_minute }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-3">{{ form.card_manager.label }} {{ form.card_manager }}</div>
        </div>
        {{ form.submit }}
    </div>
</form>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}