{% extends "register/base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="mx-auto lostitem-app-main">
    <div class="card lostitem-app-login">
        <header>ログイン</header>
        <section>
            <form method="post" action="{{ url_for('auth.login') }}">
                {% for message in get_flashed_messages() %}
                <span class="lostitem-app-flash">{{ message }}</span>
                {% endfor %}
                {{ form.csrf_token }}
                {{ form.username(class="form-control lostitem-app-input",placeholder="ユーザ名") }}
                {{ form.password(class="form-control lostitem-app-input",placeholder="パスワード") }}
                {{ form.submit(class="btn btn-md btn-primary btn-block lostitem-app-btn") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}