{% extends "register/base.html" %}
{% block title %}保管物件情報一覧{% endblock %}
{% block content %}
<form action="{{ url_for('disposal.dis_list') }}" , method="post">
    <!-- 検索フォーム -->
    {{ form.csrf_token }}
    <div class="container mb-3">
        <div class="row mb-3">
            <div class="col-4">
                物件分類（大）
                <select name="item_class_L" id="item_class_L" class="form-set">
                    <option value="選択してください">選択してください</option>
                    {% for option in ITEM_CLASS_L %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                （中）
                <select name="item_class_M" id="item_class_M" class="form-set">
                    <option value="選択してください">選択してください</option>
                    {% for option in ITEM_CLASS_M %}
                    <option value="{{ option['value'] }}" data-val="{{ option['data-val'] }}">{{ option['value'] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                （小）
                <select name="item_class_S" id="item_class_S" class="form-set">
                    <option value="選択してください">選択してください</option>
                    {% for option in ITEM_CLASS_S %}
                    <option value="{{ option['value'] }}" data-val="{{ option['data-val'] }}">{{ option['value'] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">{{ form.start_date.label }} {{ form.start_date }}-{{ form.end_date }}</div>
            <div class="col-5">{{ form.start_disposal_date.label }} {{ form.start_disposal_date }}-{{
                form.end_disposal_date }}
            </div>

        </div>
        <div class="row mb-3">
            <div class="col-5">{{ form.start_expiration_date.label }} {{ form.start_expiration_date }}-{{
                form.end_expiration_date }}</div>
            <div class="col-7">{{ form.item_feature.label }} {{ form.item_feature }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-6">{{ form.start_id.label }} {{ form.start_id }}-{{ form.end_id }}</div>
            <div class="col-3">{{ form.item_situation_sale.label }} {{ form.item_situation_sale }}</div>
            <div class="col-3">{{ form.item_situation_disposal.label }} {{ form.item_situation_disposal }}</div>
        </div>
        <div class="text-center mb-3">
            {{ form.submit(class="btn btn-primary") }}
            <hr>
        </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col-2">{{ form.submit_print(class="btn btn-primary") }}</div>
                <div class="col-4">{{ form.disposal_date.label }} {{ form.disposal_date }}
                    {{ form.submit_disposal(class="btn btn-primary") }}</div>
                <div class="col-6">{{ form.selling_price.label }} {{ form.selling_price }}
                    売却日 {{ form.selling_date }}
                    {{ form.submit_register(class="btn btn-primary") }}</div>
            </div>
        </div>
    </div>
    <!-- 還付済物件処理フォーム -->
    <hr>
    <p>{{ pagination.info }}</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>選択</th>
                <th>管理番号</th>
                <th>拾得日時</th>
                <th>警察届出日</th>
                <th>消費期限</th>
                <th>拾得物件名/特徴</th>
                <th>状況</th>
            </tr>
        </thead>
        <tbody>
            {% for item in search_results %}
            <tr>
                <td><input type="checkbox" name="item_ids" value="{{ item.id }}"></td>
                <td>
                    <a href="{{ url_for('items.detail', item_id=item.id) }}">{{ item.main_id }}</a>
                </td>
                <td>{{ item.get_item.strftime('%Y/%m/%d') if item.get_item is not none else "" }}
                    <br>{{ item.get_item_hour }}時{{ item.get_item_minute }}分
                </td>
                <td>{{ item.police_date.strftime('%Y/%m/%d') if item.police_date is not none else "" }}</td>
                <td>{{ item.item_expiration.strftime('%Y/%m/%d') if item.item_expiration is not none else "" }}</td>
                <td>{{ item.item_class_S }}
                    <br>{{ item.item_feature }}
                </td>
                <td>{{ item.item_situation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div style="margin-left: 45%;">{{ pagination.links }}</div>
    </div>
</form>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}